/*HEADER*/

.navbar-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}

.nav-header {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgb(70, 70, 70);
  
}

.logo-header {
  
  max-height: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;


}

.nav-links-header {
  
  list-style: image();
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  
}

.nav-item-header a {
  
  padding: 0 0;
  text-decoration: none;
  color: rgb(0, 0, 0);

}

.nav-item-header {
  display: inline-block;
  padding: 1em 1em;
  text-decoration: none;
  color: rgb(0, 0, 0);
  justify-content: flex-end;
  
  
}

.nav-item-header:hover {
  text-decoration: underline;
}


/* SEARCHBAR */
.border-flex-SearchBar {
  border: 2px solid purple;
  
  display: flex;
  justify-content: center;


}

.example-div-SearchBar {
  top: 50vh;
  
 
  position: absolute;
  
  border-radius: 20px;
  
}


/* LOGO */
.example-div-logo {
  top: 40vh;
  left: 50vw;
  transform: translate(-50% , -50%);
  position: absolute;
  max-width: 50vw;
  display: flex;
  max-height: 50vw;
  border: 2px solid rgb(0, 255, 106);
}



/* BUTTON */

.example-div-button {
  top: 55vh;
  left: 50vw;
  transform: translate(-50% , -50%);
  position: absolute;
  display: flex;
  border: 1px solid gray;
  border-radius: 1em;
}

/* BARRIERE */

.example-div-barriere{
  top: 60vh;
  left: 50vw;
  transform: translate(-50% , -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(55, 55, 015);
  
}


/* SWITCH */

.example-div-switch{
  top: 65vh;
  left: 50vw;
  transform: translate(-50% , -50%);
  position: absolute;
  display: flex;
  border: 2px solid rgb(255, 120, 255);
}



  /*FOOTER*/

  .border-flex-footer {
    border: 2px solid magenta;
    display: flex;
    justify-content: space-around;


  }

  .navbar-footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
  }

  .nav-footer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(70, 70, 70);
    position: absolute;
    margin-bottom: 0;
  }

  .logo-footer {
    max-height: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .nav-links-footer {
    width:100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    border: 2px solid magenta;
    
  }

  .nav-item-footer a {
    padding: 0 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  .nav-item-footer {
    display: inline-block;
    padding: 1em 1em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    
    
  }

  .nav-item-footer:hover {
    text-decoration: underline;
  }



