/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  color: #fff;
}
/* general */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button {
  margin: 11px 8px;
  padding: 13px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  font-size: 14px;
  border-radius: 4px;
}

/* header */
header {
  display: flex;
  flex-direction: row nowrap;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 55px;
}
ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row nowrap;
}
header ul li {
  padding: 0.5rem;
  font-size: 13px;
}
header ul input {
  font-weight: bold;
  color: white;
  background: #4486f8;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 2px;
  cursor: pointer;
}
/* body */
.body {
  position: relative;
  flex: auto;
  display: flex;
  flex-flow: column;
}
.logo {
  margin: 109px auto 0px auto;
  height: 92px;
  width: 272px;
  border: 1px solid;
  background: url(https://www.google.fr/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png)
    center no-repeat;
}

.input-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 18px auto;
  height: 140px;
  width: 484px;
}

.search {
  border: 1px solid #dfe1e5;
  width: 482px;
  height: 44px;
  border-radius: 30px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
}
.input {
  border: none;
  outline: none;
}
.input:hover {
  box-shadow: ;
}
