/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid #f2f2f2; */
  /* border-radius: 4px; */

}
body {
  font-family: Arial, sans-serif;
  
}
/* general */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
button {
  margin: 30px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  /* border: 1px solid #f2f2f2; */
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

button:hover {
  margin: 30px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  background-color: #f2f2f2;
  border: none;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* header */
header {
  display: flex;
  flex-direction: row nowrap;
  justify-content: flex-end;
  font-size: 16px;
  line-height: 55px;
}
ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row nowrap;
}
header ul li {
  padding: 0.5rem;
  font-size: 13px;
}
header ul input {
  font-weight: bold;
  color: white;
  background: #4486f8;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 2px;
  cursor: pointer;
}
header a {
  padding: 0 0;
  text-decoration: none;
  color: rgba(0,0,0,0.87);
  line-height: 24px;
  /* display: inline-block */

}
a:hover {
  text-decoration: underline;
}
/* body */
.body {
  flex: auto;
  display: flex;
  flex-flow: column;
}
.logo {
  margin: 109px auto 0px auto;
  height: 92px;
  width: 272px;
  /* border: 1px solid; */
  background: url(https://www.google.fr/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png) 
    center no-repeat;
}
.input-search {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 15px auto;
  height: 140px;
  width: 484px;
  border: none;
  outline: none;
}
.fas {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  margin: auto auto;

}
.form.search{
  border: none;
  outline: none;
}
.search {
  border: 1px solid #dfe1e5;
  width: 482px;
  height: 44px;
  border-radius: 30px;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-between;
}
.search2 {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  margin: auto auto;
}
.input {
  margin: 0 auto;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  width: 400px;
}

/* BARRIERE */
.example-div-barriere{
  top: 60vh;
  left: 50vw;
  transform: translate(-50% , -50%);
  position: absolute;
  display: flex;
  flex-direction: nowrap;
  justify-content: center;
  align-items: center;

  
}

/* SWITCH */
.example-div-switch{
  top: 65vh;
  left: 50vw;
  transform: translate(-50% , -50%);
  position: absolute;
  display: flex;
}



/*FOOTER*/
.border-flex-footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row nowrap;
  background-color: rgb(#6b0f0f);

  
  
}

.navbar-footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  flex-direction: row nowrap;
  
}

.nav-footer {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(70, 70, 70);
  /* position: absolute; */
  margin-bottom: 0;
  margin-top: 1080;
  flex-direction: row nowrap;
}

.logo-footer {
  max-height: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.nav-links-footer {
  width:100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  min-width: 50vw;
  
}

.nav-item-footer a {
  padding: 0 0;
  text-decoration: none;
  color: rgb(0, 0, 0);
  min-width: 50vw;
  
}

.nav-item-footer {
  display: inline-block;
  padding: 1em 1em;
  text-decoration: none;
  color: rgb(0, 0, 0);
  justify-content: space-around; 
  
}

.footer{
  background-color: rgb(#6b0f0f);
}

.nav-item-footer:hover {
  text-decoration: underline;
}

.search:hover {
  box-shadow: 1px 1px 12px #dfe1e5;
}
